<head>
	<title>Available Rooms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/assets/images/cicon3.jpg" type="image/gif" sizes="16x16">

<% include divs/head %>

<script>
	var numberOfRoomsSelected = 0;
 function preload()
		{
			  var selectedRoomTypes = [];
				sessionStorage.setItem('np',0);
				sessionStorage.setItem('total',0);
				var preld = document.getElementById('loading');
				preld.style.display = 'none';
				sessionStorage.removeItem("price");
        sessionStorage.removeItem("selectedRoomTypes");

		}
		function validate()
		{
				if(parseInt(sessionStorage.getItem('total'),10)<=0)
				{
						alert("please select rooms");
				}
		}
										// function removeRow(input) {
                    //     //  var f = document.getElementById('myId');
                    //     // f.removeChild(f.firstChild);
                    //     input.parentNode.remove();
                    // }
</script>
<script type="text/javascript">
		function order()
		{
				document.querySelector('#myId').insertAdjacentHTML(
'afterbegin',
`<div class="row">
			<div class="booking-cta container">
					 <div class="row">
			<h4>ROOM Name 1 is Added</h4>
			<h5>Desk: <span></span> Adult: <span></span>Room:<span></span><h2>
			<br>
			<h4>Prices :<span></span>&#8377;<h3>
			</div>
							 <input type="button" style="background:#f84848" value="Cancel" onclick="removeRow(this)">

			 </div>


</div> <hr>`

);


		}


		function removeRow(input) {
				//  var f = document.getElementById('myId');
				// f.removeChild(f.firstChild);
				input.parentNode.remove();

		}

		var mybtn = document.getElementsByClassName('mybtn');
		mybtn.onClick = function () {

		}

</script>

<script>
		$(document).ready(function () {

				$(".filter-button").click(function () {
						var value = $(this).attr('data-filter');

						if (value == "all") {
								$('.filter').removeClass('hidden');
								$('.filter').show('10');
						}
						else {
								            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
								            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
								$(".filter").not('.' + value).hide('3000');
								$('.filter').filter('.' + value).show('10');

						}
				});

				if ($(".filter-button").removeClass("active")) {
						$(this).removeClass("active");
				}
				$(this).addClass("active");

		});
</script>
</head>

<body onload="preload()">



<div id="loading">
</div>

<section>

<% include divs/navbar %>

</section>



 <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
            <div align="center" class="" style="width: 100%;margin-top:10%">
                <button class="btn btn-link  filter-button" data-filter="all">All </button>
                <button class="btn btn-link  filter-button" data-filter="FR">Family Rooms</button>
                <button class="btn btn-link filter-button" data-filter="Luxury">Luxury Rooms</button>
                <button class="btn btn-link filter-button" data-filter="ownerSuite">Owner Suite</button>
                <!-- <button class="btn btn-link filter-button" data-filter="PentHouse Suite">Dorms</button> -->
                      <script >
                          $(document).ready(function () {

                              $(".filter-button").click(function () {
                                  var value = $(this).attr('data-filter');

                                  if (value == "all") {
                                      $('.filter').removeClass('hidden');
                                      $('.filter').show('1000');
                                  }
                                  else {
                                                  $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                                                  $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                                      $(".filter").not('.' + value).hide('3000');
                                      $('.filter').filter('.' + value).show('3000');

                                  }
                              });

                              if ($(".filter-button").removeClass("active")) {
                                  $(this).removeClass("active");
                              }
                              $(this).addClass("active");

                          });
    </script>

            </div>


            <section>

<!-- Root Tag -->
<div class="col-md-12 container id="scrl" style="overflow-y:scroll;height:700px"" >
	<!-- 1. Filter All Rooms   -->
                  <div class="booking-form col-lg-12 filter all">
										<% for(var i=0 ; i < roomsData.roomTypes.length ; i++){ %>
											<% if(roomsData.roomTypes[i].roomtype != "family" && roomsData.roomTypes[i].roomtype != "luxury" && roomsData.roomTypes[i].roomtype != "owner suite" ){ %>

										    <div class="row">
                    <div class="col-md-5 panel-body ">
                        <img src="<%= roomsData.roomTypes[i].roomsimg %>" class="img-thumbnail img-responsive" />
                    </div>
                    <div class="col-lg-5" align="center">
                        <div class="page-header" id="rm">Double Bed room "<%= roomsData.roomTypes[i].roomsimg %>" length:  <%= roomsData.roomTypes.length %> </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>View : </td>
                                    <td>Big Window</td>
                                </tr>
                                <tr>
                                    <td>Capacity :</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Washroom :</td>
                                    <td>Attached Washroom</td>
                                </tr>
                                <tr>
                                    <td>Additional Bed:</td>
                                    <td>No</td>
                                </tr>

                            </tbody>
                        </table>

<br>
                        <div class="row" style="background:#808080;color:white;font-size:25px">
                            <div class="d-sm-block col-md-4">
                                <strong><%= roomsData.roomTypes[i].price %></strong>

                            </div>
                            <input type="number" min="1" class="form-control col-md-4" placeholder="No.Of Rooms" />

                            <button class="btn btn-primary col-md-4">ADD1</button>
                    </div>
                            </div>
<%}%>
<%}%>

                </div>
<!-- Filter Family Rooms  -->
      <div class="booking-form col-lg-12  filter FR">
				<% for(var i=0; i < roomsData.roomTypes.length; i++){ %>
					<% if(roomsData.roomTypes[i].roomtype == "family"){ %>
                        <div class="row">
                    <div class="col-md-5 panel-body ">
                        <img src="<%= roomsData.roomTypes[i].roomsimg %>" class="img-thumbnail img-responsive" />
                    </div>
                    <div class="col-lg-5" align="center">

                        <div class="page-header text-description" id="Div1">Double Bed room "<%= roomsData.roomTypes[i].roomsimg %>" length:  <%= roomsData.roomTypes.length %></div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>View :</td>
                                    <td>Big Window</td>
                                </tr>
                                <tr>
                                    <td>Capacity :</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Washroom :</td>
                                    <td>Attached Washroom</td>
                                </tr>
                                <tr>
                                    <td>Additional Bed:</td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>

                          <br>
                        <div class="row" style="background:#808080;color:white;font-size:25px">
                            <div class="d-sm-block col-md-4">
                                <strong><%= roomsData.roomTypes[i].price %></strong>

                            </div>
                            <input type="number" min="1" class="form-control col-md-4 color="black" placeholder="No.Of Rooms" />

                      <button class="btn btn-primary col-md-4" onclick="orderFR();">ADD</button>
														<script type="text/javascript">
                               var selectedRoomTypes = [];
                               var price;
															function orderFR()
															{

																if(sessionStorage.getItem("price")){
																		price = parseInt(sessionStorage.getItem("price"), 10) + <%= roomsData.roomTypes[i].price %>;
																		sessionStorage.setItem("price",price);
																}else{
																		sessionStorage.setItem("price",<%= roomsData.roomTypes[i].price %>);
																		price = parseInt(sessionStorage.getItem("price"),10);
																}
																sessionStorage.setItem('total',price);
																var found = 0;
																var selectedRoomTypes = [];
																if(sessionStorage.getItem("selectedRoomTypes")){
 		  							               selectedRoomTypes = JSON.parse(sessionStorage.getItem("selectedRoomTypes"));
															  	 selectedRoomTypes.forEach(function (item) {
																		   if(item=="family"){
	                                        found = 1;
																			 }
																	});
			                            if(found==0){
																	  selectedRoomTypes.push("family");
																	  sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
																	}
																}else{
  																 sessionStorage.removeItem("selectedRoomTypes");
                                   selectedRoomTypes.push("family");
														       sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
  															}

															   document.querySelector('#myId').insertAdjacentHTML(
														'afterbegin',
														`<div class="row">
																		<div class="container">
																				 <div class="row">
																		<h4>ROOM Name 1 is Added</h4>
																		<h5>Desk: <span></span> Adult: <span></span>Room:<span></span><h2>
																		<br>
																		<h4>Prices : `+ <%= roomsData.roomTypes[i].price %> +`<span></span>&#8377;<h3>
																		</div>


																						 <input type="button" style="background:#f84848;color:white;width:200px;" value="Cancel" onclick="removeRow(this)">
					<br>
																		 </div>
											<hr>

														</div> `

						);
																	}

														</script>
                        </div>

                    </div>
                            </div>
                        <%}%>
												<%}%>
      </div>
<!-- Filter Luxury Rooms -->
<div class="booking-form col-lg-12  filter Luxury">
  <%  for(var i=0; i< roomsData.roomTypes.length; i++){ %>
    <% if(roomsData.roomTypes[i].roomtype == "luxury"){  %>
                  <div class="row">
              <div class="col-md-5 panel-body ">
                  <img src="<%= roomsData.roomTypes[i].roomsimg %>" class="img-thumbnail img-responsive" />
              </div>
              <div class="col-lg-5" align="center">

                  <div class="page-header" id="Div2">Double Bed room</div>
                  <table>
                      <tbody>
                          <tr>
                              <td>View :</td>
                              <td>Big Window</td>
                          </tr>
                          <tr>
                              <td>Capacity :</td>
                              <td>2</td>
                          </tr>
                          <tr>
                              <td>Washroom :</td>
                              <td>Attached Washroom</td>
                          </tr>
                          <tr>
                              <td>Additional Bed:</td>
                              <td>No</td>
                          </tr>
                          <tr>
                              <td>Select Deck:
                              </td>
                              <td>
                                  <select>
                                      <option>A</option>
                                      <option>B</option>
                                      <option>C</option>
                                      <option>D</option>
                                  </select>
                              </td>
                          </tr>
                          <tr>
                              <td>Price Per Person:
                              </td>
                              <td></td>
                          </tr>

                      </tbody>
                  </table>

<br>
                  <div class="row" style="background:#808080;color:white;font-size:25px">
                      <div class="d-sm-block col-md-4">
                          <strong><%= roomsData.roomTypes[i].price %></strong>

                      </div>
                      <input type="number" min="1" class="form-control col-md-4" placeholder="No.Of Rooms" />

                      <button class="btn btn-primary col-md-4" onclick="orderLuxury();">ADD</button>
											<script type="text/javascript">
												var selectedRoomTypes = [];
												var price;
												function orderLuxury()
												{
													if(sessionStorage.getItem("price")){
															price = parseInt(sessionStorage.getItem("price"), 10) + <%= roomsData.roomTypes[i].price %>;
															sessionStorage.setItem("price",price);
													}else{
															sessionStorage.setItem("price",<%= roomsData.roomTypes[i].price %>);
															price = parseInt(sessionStorage.getItem("price"),10);
													}
													sessionStorage.setItem('total',price);
													var found = 0;
													var selectedRoomTypes = [];
													if(sessionStorage.getItem("selectedRoomTypes")){
														 selectedRoomTypes = JSON.parse(sessionStorage.getItem("selectedRoomTypes"));
														 selectedRoomTypes.forEach(function (item) {
														 // alert("session value:"+item);
																 if(item=="luxury"){
																		found = 1;
																		// alert("found=1");
																 }
														});
														if(found==0){
															selectedRoomTypes.push("luxury");
															sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
															// alert("found=0 new sessionstore");
														}
													}else{
														 sessionStorage.removeItem("selectedRoomTypes");
														 selectedRoomTypes.push("luxury");
														 sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
														 // alert("new Session created session with family value..");
													}
												document.querySelector('#myId').insertAdjacentHTML(
											'afterbegin',
											`<div class="row">
															<div class="container">
																	 <div class="row">
															<h4>ROOM Name 1 is Added</h4>
															<h5>Desk: <span></span> Adult: <span></span>Room:<span></span><h2>
															<br>
															<h4>Prices : `+ <%= roomsData.roomTypes[i].price %> +`<span></span>&#8377;<h3>
															</div>


																			 <input type="button" style="background:#f84848;color:white;width:200px;" value="Cancel" onclick="removeRow(this)">
		<br>
															 </div>
								<hr>

											</div> `

			);

														}

											</script>
                  </div>



              </div>
                      </div>
                      <%}%>
          <%}%>
</div>

								<div class="booking-form col-lg-12  filter ownerSuite">
								  <%  for(var i=0; i< roomsData.roomTypes.length; i++){ %>
								    <% if(roomsData.roomTypes[i].roomtype == "owner suite"){  %>
								                  <div class="row">
								              <div class="col-md-5 panel-body ">
								                  <img src="<%= roomsData.roomTypes[i].roomsimg %>" class="img-thumbnail img-responsive" />
								              </div>
								              <div class="col-lg-5" align="center">

								                  <div class="page-header" id="Div2">Double Bed room</div>
								                  <table>
								                      <tbody>
								                          <tr>
								                              <td>View :</td>
								                              <td>Big Window</td>
								                          </tr>
								                          <tr>
								                              <td>Capacity :</td>
								                              <td>2</td>
								                          </tr>
								                          <tr>
								                              <td>Washroom :</td>
								                              <td>Attached Washroom</td>
								                          </tr>
								                          <tr>
								                              <td>Additional Bed:</td>
								                              <td>No</td>
								                          </tr>
								                      </tbody>
								                  </table>

                                <br>
								                  <div class="row" style="background:#808080;color:white;font-size:25px">
								                      <div class="d-sm-block col-md-4">
								                          <strong><%= roomsData.roomTypes[i].price %></strong>
								                      </div>
								                      <input type="number" min="1" class="form-control col-md-4" placeholder="No.Of Rooms" />

								                      <button class="btn btn-primary col-md-4" onclick="orderOwner();">ADD</button>

																			<script type="text/javascript">
                                       var selectedRoomTypes = [];
															         var price;
								 												function orderOwner()
								 												{
																					if(sessionStorage.getItem("price")){
																			        price = parseInt(sessionStorage.getItem("price"), 10) + <%= roomsData.roomTypes[i].price %>;
																			        sessionStorage.setItem("price",price);
																				  }else{
																						  sessionStorage.setItem("price",<%= roomsData.roomTypes[i].price %>);
                                              price = parseInt(sessionStorage.getItem("price"),10);
																					}
																					sessionStorage.setItem('total',price);
																					var found = 0;
																					var selectedRoomTypes = [];
																					if(sessionStorage.getItem("selectedRoomTypes")){
					 		  							               selectedRoomTypes = JSON.parse(sessionStorage.getItem("selectedRoomTypes"));
																				  	 selectedRoomTypes.forEach(function (item) {
																						 // alert("session value:"+item);
																							   if(item=="owner"){
						                                        found = 1;
																										// alert("found=1");
																								 }
																						});
								                            if(found==0){
																						  selectedRoomTypes.push("owner");
																						  sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
																							// alert("found=0 so sessionstore");
																						}
																					}else{
					  																 sessionStorage.removeItem("selectedRoomTypes");
					                                   selectedRoomTypes.push("owner");
																			       sessionStorage.setItem("selectedRoomTypes",JSON.stringify(selectedRoomTypes));
					                                   // alert("new Session created session with family value..");
																					}
								 													 document.querySelector('#myId').insertAdjacentHTML(
								 											'afterbegin',
								 											`<div class="row">
								 															<div class="container">
								 																	 <div class="row">
								 															<h4>ROOM Name 1 is Added</h4>
								 															<h5>Desk: <span></span> Adult: <span></span>Room:<span></span><h2>
								 															<br>
								 															<h4>Prices : `+ <%= roomsData.roomTypes[i].price %> +`<span></span>&#8377;<h3>
								 															</div>
								 																			 <input type="button" style="background:#f84848;color:white;width:200px;" value="Cancel" onclick="removeRow(this)">
								 		<br>
								 															 </div>
								 								<hr>

								 											</div> `
								 			);
											// document.querySelector('#totala').insertAdjacentHTML(
											//  `Total : `+ price +  `;`
										 // });

								 														}
																						function removeRow(input) {
																								alert('okok');
																								input.parentNode.remove();
																						}

								 											</script>

								                  </div>



								              </div>
								                      </div>
								                      <%}%>
								          <%}%>
								</div>

        </div>

                  </section>
            </div>
            <section class="ftco-section contact-section col-md-3" >
      <div class="container " style="margin-top:10%">


<form class="" action="/users/cruiseViews" method="post">
				<div class="row block-3">
            <ul class="panel-body ">
                        <li>We have rooms with capacities 1/2/4
                        </li>

                        <li>Please select rooms carefully based on your requirement</li>
                        <li>While selecting a room, select the right deck
                        </li>

                        <li>Then choose the number of rooms and click on "Add" button</li>
                    </ul>
										<input type="hidden" name="roomsData" value= "<%= JSON.stringify(roomsData); %>"/>

										<div class="col" id="myId">
     						       <button type="submit" name="button" class="btn btn-primary" id="cb" onclick="validate();">Conform</button>
                    <div class="col" id="totala">

                    </div>
										</div>
           </div>
				 </form>

      </div>
    </section>


                  </div>
      </div>

<% include divs/topScrollBtn %>
<% include divs/footer %>


<% include divs/lib %>


</body>
